<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="app-bar">
    <h1>AutoVistoria</h1>
</div>
<div class="nomeFoto">
    <h2>LADO ESQUERDO</h2>
</div>

<div>
  <h6 class="exemplo">Exemplo:</h6>
   <div class="custom-image">
    <img src="assets/images/ladoEsquerdoTrator.png" alt="FrenteImagem" width="280" height="250">
   </div>
</div>

<div>
  <h6 class="observacao">Observação:</h6>    
  <textarea class="editObservacao" [(ngModel)]="editObservacao"></textarea>

  <button class="custom-camera" type="button" (click)="Capture()">
    <img class="material-icons" src="assets/icons/botaoCamera.svg" alt="Descrição do ícone">
  </button>
</div>

<app-camera-capture [observacaoFoto]="editObservacao" [nomeFoto]="'ladoEsquerdoTrator'" [caminhoProximo] = "'/entrada-foto04'" *ngIf="showCameraCapture"></app-camera-capture>





