<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="app-bar">
    <h1>AutoVistoria</h1>
</div>
<div class="placa-fazenda">
    <h2 class="nomePlaca">PLACA DA FAZENDA</h2>
</div>

<div>
  <h6 class="exemplo">Exemplo:</h6>
   <div class="custom-image">
    <img src="assets/images/frenteTrator.png" alt="FrenteImagem" width="280" height="250">
   </div>
</div>


<div>
  <h6 class="observacao">Observação:</h6>    
  <input class="editObservacao">

  <button class="custom-camera" type="button" (click)="openCamera()">
    <span class="material-icons">photo_camera</span>
  </button>
</div>

<div class="camera-container">
  <div class="camera-view">
    <video id="camera-preview" autoplay playsinline></video>
    <button class="take-photo-button" (click)="takePhoto()" *ngIf="showTakePhotoButton">
      <span class="material-icons">photo_camera</span>
    </button>
  </div>
  
</div>

<!-- Adicione a visualização da imagem capturada -->
<div *ngIf="showCapturedImage" class="captured-image-container">
  <img [src]="capturedImage" alt="Imagem Capturada">
  <button class="captured-image-button" (click)="saveImage()">Certo</button>
  <button class="captured-image-button" (click)="discardImage()">X</button>
</div>



