<div class="app-bar">
  <h1>AutoVistoria</h1>
</div>

<div class = "div-central">
  <p class = "nome-cliente">Olá {{ nomeCliente }},</p>
  <p>Para analisarmos a aceitação do seu seguro, contamos com você para realizarmos a Autovistoria do seu veículo.</p>
  <p>Importante:</p>
  <ul>
    <li>Você vai utilizar a câmera do seu celular</li>
    <li>Se a foto não estiver boa, basta tirar uma foto nova</li>
    <li>Separe o documento do veículo</li>
    <li>Se precisar interromper o processo, acesse o link enviado e retome de onde parou</li>
  </ul>
  <button class="botao-comecar"  routerLink="/entrada-dados-inspecao-pagina01">Começar</button>


</div>
