

.captured-image-container {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 2; /* Um valor maior do que o z-index do elemento da câmera */
}

.camera-container {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;

}




.take-photo-button {
  position: absolute;
  bottom: 30px;
  right: 50%; /* Centralize o botão horizontalmente. */
  transform: translateX(50%); /* Centralize o botão horizontalmente. */
  background-color: transparent; /* Remova a cor de fundo. */
  border: none;
  color: #000000;
  cursor: pointer; /* Transforme o cursor em uma mãozinha para indicar que é clicável. */
}

.take-photo-button .material-icons {
  font-size: 40px; /* Tamanho do ícone. Ajuste conforme necessário. */
}

.image-container {
  position: relative;
}


.captured-image-icon-success {
  position: absolute;
  bottom: 30px; /* Ajuste a posição vertical conforme necessário */
  left: 70px; /* Ajuste a posição horizontal conforme necessário */
  color: rgb(10, 117, 54); /* Define a cor para o ícone de "Certo" */
  cursor: pointer; /* Mude o cursor ao pairar para indicar um link clicável */
  background-color: transparent;
  border: none;
}

.captured-image-icon-cancel {
  position: absolute;
  bottom: 30px; /* Ajuste a posição vertical conforme necessário */
  left: 200px; /* Ajuste a posição horizontal conforme necessário */
  color: rgb(156, 11, 11); /* Define a cor para o ícone de "Cancelar" */
  cursor: pointer; /* Mude o cursor ao pairar para indicar um link clicável */
  background-color: transparent;
  border: none;
}

.captured-image-icon-cancel .material-icons {
  font-size: 40px; /* Tamanho do ícone. Ajuste conforme necessário. */
}

.captured-image-icon-success .material-icons {
  font-size: 40px; /* Tamanho do ícone. Ajuste conforme necessário. */
}

