.camera-view {
    position: relative;

  }
  
  .captured-image-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* Um valor maior do que o z-index do elemento da câmera */
  }
  
